<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Car Tuning</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
  </head>
  
  <body>
    <h1>Design your car!</h1>
    <img class="main-img" th:src="@{/images/CarTuning.jpg}"/>

    <form method="POST" th:object="${taco}">

    <span class="validationError"
          th:if="${#fields.hasErrors('ingredients')}" 
          th:errors="*{ingredients}">Ingredient Error</span>

    <div class="grid">
      <div class="ingredient-group" id="audio">
      <h3>Designate your audio:</h3>
      <div th:each="ingredient : ${audio}">
        <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
        <span th:text="${ingredient.name}">INGREDIENT</span><br/>
      </div>
      </div>

	  <div class="ingredient-group" id="interior">
      <h3>Pick your interior:</h3>
      <div th:each="ingredient : ${interior}">
        <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
        <span th:text="${ingredient.name}">INGREDIENT</span><br/>
      </div>
      </div>

	  <div class="ingredient-group" id="engine">
      <h3>Choose your engine:</h3>
      <div th:each="ingredient : ${engine}">
        <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
        <span th:text="${ingredient.name}">INGREDIENT</span><br/>
      </div>
      </div>

	  <div class="ingredient-group" id="suspension">
      <h3>Determine your suspension:</h3>
      <div th:each="ingredient : ${suspension}">
        <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
        <span th:text="${ingredient.name}">INGREDIENT</span><br/>
      </div>
      </div>
      
	  <div class="ingredient-group" id="tires">
      <h3>Select your tires:</h3>
      <div th:each="ingredient : ${tires}">
        <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
        <span th:text="${ingredient.name}">INGREDIENT</span><br/>
      </div>
      </div>
      </div>
      
      <div>


      <h3>Name your car creation:</h3>
      <input type="text" th:field="*{name}"/>
      <span class="validationError"
            th:if="${#fields.hasErrors('name')}" 
            th:errors="*{name}">Name Error</span>
      <br/>
      
      <button>Submit your car</button>
      </div>
    </form>
  </body>
</html>
