<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Car Tuning</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
  </head>

  <body>
  <h1>Welcome to...Shengyang Zhou Car Tuning Demo</h1>
  <img  class="main-img" th:src="@{/images/CarTuning.jpg}"/>
  <form method="POST" th:action="@{/logout}" id="logoutForm">
    <input type="submit" value="Logout"/>
  </form>

  <a th:href="@{/design}" id="design">Design a car</a>
  </body>
</html>