<!-- tag::all[] -->
<!-- tag::head[] -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Car Tuning</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
  </head>

  <body>
    <h1>Design your taco!</h1>
    <img class="home-image" th:src="@{/images/CarTuning.jpg}"/>

<!-- tag::formTag[] -->
    <form method="POST" th:object="${design}">
    <!-- end::all[] -->

    <span class="validationError"
          th:if="${#fields.hasErrors('Gears')}"
          th:errors="*{Gears}">Gear Error</span>

    <!-- tag::all[] -->
    <div class="grid">
<!-- end::formTag[] -->
<!-- end::head[] -->
      <div class="Gear-group" id="audio">
<!-- tag::designateWrap[] -->
      <h3>Choose a audio accessories</h3>
      <div th:each="Gear : ${audio}">
        <input name="Gears" type="checkbox" th:value="${Gear.id}" />
        <span th:text="${Gear.name}">Gear</span><br/>
      </div>
<!-- end::designateWrap[] -->
      </div>

	  <div class="Gear-group" id="interior">
      <h3>Pick your interior:</h3>
      <div th:each="Gear : ${interior}">
        <input name="Gears" type="checkbox" th:value="${Gear.id}" />
        <span th:text="${Gear.name}">Gear</span><br/>
      </div>
      </div>

	  <div class="Gear-group" id="engine">
      <h3>Determine your engine type:</h3>
      <div th:each="Gear : ${engine}">
        <input name="Gears" type="checkbox" th:value="${Gear.id}" />
        <span th:text="${Gear.name}">Gear</span><br/>
      </div>
      </div>

	  <div class="Gear-group" id="suspension">
      <h3>Adjust your suspension:</h3>
      <div th:each="Gear : ${suspension}">
        <input name="Gears" type="checkbox" th:value="${Gear.id}" />
        <span th:text="${Gear.name}">Gear</span><br/>
      </div>
      </div>

	  <div class="Gear-group" id="tires">
      <h3>Select your tires:</h3>
      <div th:each="Gear : ${tires}">
        <input name="Gears" type="checkbox" th:value="${Gear.id}" />
        <span th:text="${Gear.name}">Gear</span><br/>
      </div>
      </div>
      </div>

      <div>


      <h3>Name your car tuning creation:</h3>
      <input type="text" th:field="*{name}"/>
      <!-- end::all[] -->
      <span th:text="${#fields.hasErrors('name')}">XXX</span>
      <span class="validationError"
            th:if="${#fields.hasErrors('name')}"
            th:errors="*{name}">Name Error</span>
      <!-- tag::all[] -->
      <br/>

      <button>Submit your car</button>
      </div>
<!-- tag::closeFormTag[] -->
    </form>
<!-- end::closeFormTag[] -->
  </body>
</html>
<!-- end::all[] -->
