<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Car Tuning</title>
    <link rel="stylesheet" th:href="@{/styles.css}" />
  </head>
  
  <body>
  
    <h1>Your orders</h1>
<!--    <ul>-->
<!--      <li th:each="car : ${order.cars}">-->
<!--          <span th:text="${car.name}">car name</span>-->
<!--          <span th:each="gear : ${car.gears}">-->
<!--              <span th:text="${gear.name}">GEAR</span>,-->
<!--          </span>-->
<!--      </li>-->
<!--    </ul>-->
<!--    <ul>-->
<!--      <li th:each="order : ${orders}">-->
<!--        <span th:text="${order.placedAt}">DATE</span>-->
<!--      </li>-->
<!--    </ul>-->
    <ul>
      <li th:each="order : ${orders}">
        <span th:text="${order.placedAt}">DATE</span> -
        <span th:text="${order.deliveryName}">NAME</span>
        <ul>
          <li th:each="car : ${order.cars}">
            <span th:text="${car.name}"></span> :
            <span th:each="gear : ${car.gears}">
              <span th:text="${gear.name}">GEAR</span>,
            </span>
          </li>
        </ul>
      </li>
    </ul>
  
  </body>

</html>
